body {font-family: arial;}
.navbar-light .navbar-nav .nav-link {font-weight: bold;}

.seccion-banner {background: url(../imagenes/banner2.jpg) no-repeat fixed;background-size: cover; height: 400px; filter: brightness(80%); position: relative; width: 100%;}
.seccion-banner h1 {position: absolute; top: 80px; left: 200px; color: white; font-size: 80px;font-family: 'Rock Salt', cursive; }
.seccion-banner h2 {position: absolute; top: 200px; left: 200px; color: white; font-size: 25px;font-family: 'Rock Salt', cursive;}
.streaming {margin-top: 0px;background: #efefef; padding: 70px 0px;}
.streaming h3 {font-family: 'Rock Salt', cursive; font-size: 26px; margin-bottom: 30px;}
.streaming-text {margin-top: 50px;}



.btn-historia  {background:#001ffd ; border: none; margin-bottom: 20px;}
.btn-historia:hover  {background:#6c7adf; }
.biografia {padding: 50px 0px;}


.nuestra-historia { font-family: 'Rock Salt', cursive; font-size: 26px;}
.show2 {padding: 40px 0px; background:#343a40c7; margin-top: 0px;}
.show2 h4 {font-family: 'Rock Salt', cursive; font-size: 30px; padding: 30px 0px; color: white; text-align: center;}
.integrantes-back {background: #101010; padding: 20px 0px; margin-bottom: 50px}
.integrantes-back  h1 {font-family: 'Rock Salt', cursive; font-size: 40px; color: #efefef;}

footer {background: #1a1b1c ; padding: 30px 0px;}
footer li {list-style: none;display: inline-block; }
footer ul {text-align: center;;padding: 0px;}
footer p {color: #ffff; text-align: center; padding: 5px 0px; margin: 0px 5px 0px 0px;}
.what {color: #25D366; margin: 0px 5px;}

footer a {color: #fff ; }
footer a:hover {color:#25D366 ; text-decoration: none;}
footer i {font-size: 22px; margin-right: 10px; background: ;}

.artistas {letter-spacing: 0.1em; font-size: 18px;}
.bio2 { background: #efefef; padding: 50px 0px; margin-top: 20px;}
.bio3 {padding: 50px 0px 10px 0px;}
.bio4 {padding: 50px 0px;; background: #efefef ;}
.teatro-txt {margin-top: 20px;}
.img-historia {filter: brightness(80%)}
.text-orden {flex: 1; order: 2;}
.teatro-orden {flex: 1; order: 2;}
.e-mail {color: #12b142; font-weight: bold }
@media screen and (max-width: 700px){
	.banner-min {background: url(../imagenes/banner-cel.jpg) no-repeat fixed;background-size: cover; height: 350px; filter: brightness(80%); position: relative; width: 100%;}
	.banner-min h1 {position: absolute; top: 50px; left: 20px; color: white; font-size: 50px; font-family: 'Rock Salt', cursive; }
	.banner-min h2 {position: absolute; top: 120px; left: 20px; color: white; font-size:22px; font-family:'Rock Salt', cursive;}
	.btn-banner {position: absolute; top: 180px; left: 20px;}
	.st-img {flex: 2; order: 1;}
	.video {height:auto; width: 100%;}
}


@media screen and (max-width: 500px){
	.banner-min {background: url(../imagenes/banner-cel.jpg) no-repeat fixed;background-size: cover; height: 350px; filter: brightness(80%); position: relative; width: 100%;}
	.banner-min h1 {position: absolute; top: 50px; left: 20px; color: white; font-size: 50px; font-family: 'Rock Salt', cursive; }
	.banner-min h2 {position: absolute; top: 120px; left: 20px; color: white; font-size:22px; font-family:'Rock Salt', cursive;}
	.btn-banner {position: absolute; top: 180px; left: 20px;}
	.st-img {flex: 2; order: 1;}
	.video {height:auto; width: 100%;}
}